.row
  .col-lg-12
    %h1.page-header API Editor
    %p
      This is an online editor meant to work on our API docs. Paste the contents from
      %a{ href: 'http://api.edify.social/v1/edify_internal', target: '_blank'} this link
      on a new file, after your done download a Swagger JSON file from 'Generate Client'.
.row
  .col-lg-12
    .panel.panel-default
      %iframe{src: 'https://documenter.getpostman.com/collection/view/26462-3b7f7b0f-0ad0-a73b-0053-03ac9bffc294', width: '100%', height: 970, style: 'border: none'}