.row
  .col-lg-12
    %h1.page-header Instagram Messages
    /= link_to 'Process NLP', msg_nlp_path, class: 'btn btn-info', remote: true,
    /style: 'margin-top: -0.5em; font-size: 0.80em; float: right; margin-bottom: 1em; margin-right: 0.5em;'
.row
  .col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Content Type
          %th Item Type
          %th Timestamp
          %th User
          %th Text
          /%th Sentiment
      %tbody
        - @insta_messages.each do |im|
          %tr
            %td= im.id
            %td= im.content_type
            %td= im.item_type
            %td= Time.at(im.timestamp.to_i/1000000)
            - if InstagramUser.find_by_uid(im.uid)
              %td= InstagramUser.find_by_uid(im.uid).username
            - else
              %td
            - if im.text.nil?
              %td N / A
            - else
              %td= im.text

    %br/
    = link_to 'Back', '/', class: 'btn btn-default'