.row
  .col-lg-12
    %h1.page-header Instagram User
.row
  .col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th
          %th ID
          %th Username
          %th Name
          %th Bio
          %th Insta ID
          %th Staff
          %th URL
          %th Followers
          %th Following
          %th Private
          %th Media Count
      %tbody
        %tr
          - if @insta_user.profile_pic_url
            %td= image_tag @insta_user.profile_pic_url, style: 'height: 50px; border-radius: 50%;'
          - else
            %td= image_tag 'edify-rounded.png', style: 'height: 50px; border-radius: 50%;'
          %td= @insta_user.id
          %td= @insta_user.username
          %td= @insta_user.full_name
          %td= @insta_user.biography
          %td= @insta_user.uid
          %td= @insta_user.is_staff
          %td= @insta_user.external_url
          %td= @insta_user.follower_count
          %td= @insta_user.following_count
          %td= @insta_user.is_private
          %td= @insta_user.media_count
    %br/
    = link_to 'Back', 'javascript:history.go(-1);', class: 'btn btn-default'
