.row
  .col-lg-12
    %h1.page-header Instagram Users
.row
  .col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th
          %th Username
          %th Name
          %th Bio
          %th Insta ID
          %th Staff
          %th URL
          %th Followers
          %th Following
          %th Private
          %th Media Count
      %tbody
        - @insta_users.each do |iu|
          %tr
            %td= iu.id
            - if iu.profile_pic_url
              %td= image_tag iu.profile_pic_url, style: 'height: 50px; border-radius: 50%;'
            - else
              %td= image_tag 'edify-rounded.png', style: 'height: 50px; border-radius: 50%;'
            %td= iu.username
            %td= iu.full_name
            %td= iu.biography
            %td= iu.uid
            %td= iu.is_staff
            %td= iu.external_url
            %td= iu.follower_count
            %td= iu.following_count
            %td= iu.is_private
            %td= iu.media_count
    %br/
    = link_to 'Back', '/', class: 'btn btn-default'
