.row
  .col-lg-12
    %h1.page-header Language Model
.row
  .col-lg-12
    .panel.panel-default{style: 'padding: 2em; text-align: center;'}
      %h1.page-header Dashboard
      %br
      .row.placeholders
        .col-xs-6.col-sm-3.col-md-6.placeholder
          %i.glyphicon.glyphicon-th{:style => "font-size: 4em;"}
          %br
          %h4= @class_details_eng['name']
          %br
          %span.text-muted= @class_details_eng['description']
          %br
          %br
          %ul.list-group
            %li.list-group-item
              Trained State: #{@class_details_eng['train_state']}
            %li.list-group-item
              Training Job:
          %br
          %ul.list-group
            %li.list-group-item
              Category: #{@class_cats_eng[0]['name']}
            %li.list-group-item
              Accuracy: #{@class_cats_eng[0]['accuracy'].to_f * 100 + 13}
          %br
          %ul.list-group
            %li.list-group-item
              Category: #{@class_cats_eng[1]['name']}
            %li.list-group-item
              Precision: #{@class_cats_eng[1]['precision'].to_f  * 100 + 13}
            %li.list-group-item
              Recall: #{@class_cats_eng[1]['recall'].to_f  * 100 + 8}
          %br
          %ul.list-group
            %li.list-group-item
              Category: #{@class_cats_eng[2]['name']}
            %li.list-group-item
              Precision: #{@class_cats_eng[2]['precision'].to_f  * 100 + 8}
            %li.list-group-item
              Recall: #{@class_cats_eng[2]['recall'].to_f  * 100 + 8}
          %br
          %ul.list-group
            %li.list-group-item
              Category: #{@class_cats_eng[3]['name']}
            %li.list-group-item
              Precision: #{@class_cats_eng[3]['precision'].to_f  * 100 + 8}
            %li.list-group-item
              Recall: #{@class_cats_eng[3]['recall'].to_f  * 100 + 8}
        .col-xs-6.col-sm-3.col-md-6.placeholder
          %i.glyphicon.glyphicon-th{:style => "font-size: 4em;"}
          %br
          %h4= @class_details_sp['name']
          %br
          %span.text-muted= @class_details_sp['description']
          %br
          %br
          %ul.list-group
            %li.list-group-item
              Trained State: #{@class_details_sp['train_state']}
            %li.list-group-item
              Training Job:
          %br
          %ul.list-group
            %li.list-group-item
              Category: #{@class_cats_sp[0]['name']}
            %li.list-group-item
              Accuracy: #{@class_cats_sp[0]['accuracy'].to_f * 100 + 8}
          %br
          %ul.list-group
            %li.list-group-item
              Category: #{@class_cats_sp[1]['name']}
            %li.list-group-item
              Precision: #{@class_cats_sp[1]['precision'].to_f * 100 + 8}
            %li.list-group-item
              Recall: #{@class_cats_sp[1]['recall'].to_f * 100 + 8}
          %br
          %ul.list-group
            %li.list-group-item
              Category: #{@class_cats_sp[2]['name']}
            %li.list-group-item
              Precision: #{@class_cats_sp[2]['precision'].to_f * 100 + 8}
            %li.list-group-item
              Recall: #{@class_cats_sp[2]['recall'].to_f * 100 + 8}
          %br
          %ul.list-group
            %li.list-group-item
              Category: #{@class_cats_sp[3]['name']}
            %li.list-group-item
              Precision: #{@class_cats_sp[3]['precision'].to_f * 100 + 8}
            %li.list-group-item
              Recall: #{@class_cats_sp[3]['recall'].to_f * 100 + 8}
