.row
  .col-lg-12
    %h1.page-header Log Monitoring
.row
  .col-lg-12
    .panel.panel-default
      %h2{ style: 'text-align: center; padding: 1em;'}
        %a{ href: 'https://www.elastic.co/products/logstash' } Logstash
        coming soon