.row
  .col-lg-12
    %h1.page-header Mobile Apps
  .row
    .col-lg-12
      %h1 Data Sync
      %i Change the frequency the Child Monitor app syncs with the server.
      %br
      .col-md-2
        = form_tag mobile_app_path, style: 'margin-top: 1em; margin-left: -1em;', method: 'get' do
          .input-group
            = number_field_tag :sync_time, params[:sync_time], placeholder: "#{@chmonctrl.sync_time} Seconds", class: 'form-control'
            = hidden_field_tag :user, params[:user], value: current_user.name
            %span.input-group-btn
              = submit_tag 'Confirm', name: nil, class: 'btn btn-primary'
        - if @chmonctrl.user
          %i{ style: 'margin-left: -1em;' }= "Last updated by #{@chmonctrl.user}"