.row
  .col-lg-12
    %h1.page-header Instagram messages
.row
  .col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Content Type
          %th Published
          %th Item Type
          %th User
          %th User Count
          %th Text
          %th Notify Guardian
      %tbody
        - @insta_msgs.each do |im|
          %tr
            %td= im.id
            %td= im.content_type
            %td= Time.at(im.timestamp.to_i/1000000)
            %td= im.item_type
            %td= InstagramUser.find_by_uid(im.uid).username
            %td= im.instagram_users.count
            - if im.text.nil?
              %td N / A
            - else
              %td= im.text
            /- if @child.edify_notifications.find_by_instagram_message_id(im.id)
            /  %td{style: 'text-align: left;'} Notified
            /- else
            /  %td{style: 'text-align: left;'}
            /    = link_to 'Notify', notify_path(chid: @child.id,  im_id: im.id, th_id: im.instagram_thread_id), method: :post, class: 'btn btn-default',
            /    style: 'margin: 0;'
    %br/
    = link_to 'Back', 'javascript:history.go(-1);', class: 'btn btn-default'
    %br
