= simple_form_for @child do |f|
  - if @child.errors.any?
    #error_explanation
      %h2
        = pluralize(@child.errors.count, "error")
        prohibited this child from being saved:
      %ul
        - @child.errors.full_messages.each do |message|
          %li= message
  .field
    = f.input :name
  .field
    = f.input :phone
  .field
    = f.input :backtrack_status, collection: [0, 1], prompt: 'Activate with 1'
  .field
    = f.association :user, prompt: 'Select a Guardian'
  .actions
    = f.button :submit, class: 'btn btn-success pull-left'
