%br
%h2 Backtracked Device Messages - Table View
%br
/=debug(params)
/= simple_form_for :backtracked, url: backtracked_table_path, method: 'get' do |f|
= form_tag backtracked_table_path, method: 'get' do |f|
  = text_field_tag  :search, params[:search], placeholder: 'Search', label: false
  = submit_tag 'Search', class: 'btn btn-default', style: 'display: none;'
#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .row
    .col-lg-12
      %table.table.table-striped
        %thead
          %tr
            %th ID
            %th Contact Name
            %th Contact number
            %th Message
            %th Sent
            %th Notified
            %th Date
            %th Thread
            %th
            %th
            %th

        %tbody
          - @device_messages.each do |dm|
            %tr
              %td= dm.id
              %td= dm.contact_name
              %td= dm.contact_number
              %td= dm.message
              %td= dm.sent?
              %td= dm.notified?
              %td= dm.mobile_timestamp
              %td= dm.thread_id
              %td= link_to 'Show', backtracked_thread_path(dm.child.id, dm.thread_id)
              %td= link_to 'Notify', notify_path(chid: @child.id,  dm_id: dm.id), method: :post, remote: true
              %td= link_to 'Destroy', remove_device_message_path(id: dm.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }

= paginate @device_messages
%br
= link_to 'Back', child_path, class: 'btn btn-default'
%br
%br
