%br
%h2 Device Messages - Table View
%br

#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .row
    .col-lg-12
      %table.table.table-striped
        %thead
          %tr
            %th ID
            %th Contact Name
            %td Contact number
            %td Message
            %td Sent
            %td Notified
            %td Date
            %td Thread
            %th
            %th
            %th

        %tbody
          - @device_messages.each do |dm|
            %tr
              %td= dm.id
              %td= dm.contact_name
              %td= dm.contact_number
              %td= dm.message
              %td= dm.sent?
              %td= dm.notified?
              %td= dm.mobile_timestamp
              %td= dm.thread_id
              %td= link_to 'Show', child_device_message_thread_path(dm.child.id, dm.thread_id)
              %td= link_to 'Notify', notify_path(chid: @child.id,  dm_id: dm.id), method: :post, remote: true
              %td= link_to 'Destroy', remove_device_message_path(id: dm.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }

= paginate @device_messages
%br
= link_to 'Back', child_path, class: 'btn btn-default'
%br
%br
