%br
%h2 Device Messages
%br

#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  - @device_messages.group_by(&:thread_id).each_with_index do |dm, i|
    .panel.panel-default
      .panel-heading{role: "tab"}
        %a{"aria-controls": "collapse-#{i}", "aria-expanded": "false", "data-parent": "#accordion", "data-toggle": "collapse", href: "#collapse-#{i}", role: "button", id: "heading-#{i}"}
          - if dm[1].first.contact_name
            %h4.panel-title= "Thread #{dm[0]}: #{dm[1].first.contact_name}"
          - else
            %h4.panel-title= "Thread #{dm[0]}: #{dm[1].first.contact_number}"
      .panel-collapse.collapse{"aria-labelledby": "heading-#{i}", role: "tabpanel", id: "collapse-#{i}", style: "padding: 2em;" }
        /- aday = 0
        - dm[1].reverse.each do |d|
          /- if d.mobile_timestamp != aday
          /  = aday
          /  %h3= d.mobile_timestamp.to_datetime
          /  need to compare with date
          /  - aday = d.mobile_timestamp
          - if d.sent
            - if d.notified?
              .alert.alert-danger{ role: "alert", style: "padding: 1.4em; max-width: 30%; margin-left: 70%; position: relative;" }
                %p{style: "margin-top: 0.5em;"}= d.message
                %div{style: "margin-top: 0.8em;"}
                  %span{style: "font-size: 0.6em; position: absolute; top: 5px; left: 1em;"}= "ID: " + d.id.to_s
                  %span{style: "font-size: 0.6em; position: absolute; bottom: 5px; left: 1em;"}= d.mobile_timestamp
                = link_to remove_device_message_path(id: d.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do
                  %i{class: "glyphicon glyphicon-trash", style: "font-size: 0.8em; color: red; position: absolute; top: 10px; right: 1em;"}
            -else
              .alert.alert-success{ role: "alert", style: "padding: 1.4em; max-width: 30%; margin-left: 70%; position: relative;" }
                %p{style: "margin-top: 0.5em;"}= d.message
                %div{style: "margin-top: 0.8em;"}
                  %span{style: "font-size: 0.6em; position: absolute; top: 5px; left: 1em;"}= "ID: " + d.id.to_s
                  %span{style: "font-size: 0.6em; position: absolute; bottom: 5px; left: 1em;"}= d.mobile_timestamp
                = link_to remove_device_message_path(id: d.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do
                  %i{class: "glyphicon glyphicon-trash", style: "font-size: 0.8em; color: red; position: absolute; top: 10px; right: 1em;"}
                = link_to notify_path(chid: @child.id,  dm_id: d.id), method: :post, remote: true do
                  %i{class: "glyphicon glyphicon-alert", style: "font-size: 0.8em; color: orange; position: absolute; top: 10px; right: 3em;"}
          - else
            - if d.notified?
              .alert.alert-danger{style: "max-width: 30%; position: relative;"}
                %p{style: "margin-top: 0.5em;"}= d.message
                %div{style: "margin-top: 0.8em;"}
                  %span{style: "font-size: 0.6em; position: absolute; top: 5px; left: 1em;"}= "ID: " + d.id.to_s
                  %span{style: "font-size: 0.6em; position: absolute; bottom: 5px; left: 1em;"}= d.mobile_timestamp
                = link_to remove_device_message_path(id: d.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do
                  %i{class: "glyphicon glyphicon-trash", style: "font-size: 0.8em; color: red; position: absolute; top: 10px; right: 1em;"}
            - else
              .well{style: "max-width: 30%; position: relative;"}
                %p{style: "margin-top: 0.5em;"}= d.message
                %div{style: "margin-top: 0.8em;"}
                  %span{style: "font-size: 0.6em; position: absolute; top: 5px; left: 1em;"}= "ID: " + d.id.to_s
                  %span{style: "font-size: 0.6em; position: absolute; bottom: 5px; left: 1em;"}= d.mobile_timestamp
                = link_to remove_device_message_path(id: d.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do
                  %i{class: "glyphicon glyphicon-trash", style: "font-size: 0.8em; color: red; position: absolute; top: 10px; right: 1em;"}
                = link_to notify_path(chid: @child.id,  dm_id: d.id), method: :post, remote: true do
                  %i{class: "glyphicon glyphicon-alert", style: "font-size: 0.8em; color: orange; position: absolute; top: 10px; right: 3em;"}

/ Marcar cambio de dia con día / mes en un hr

/= paginate @device_messages
%br
= link_to 'Back', child_path, class: 'btn btn-default'
%br
%br
