.container{style: 'width: 600px; padding-top: 3em;'}
  %h1 Editing Child
  = render 'form'
  = link_to 'Show', @child, class: 'btn btn-primary pull-right', style: 'margin-left: 1em;'
  = link_to 'Back', children_path, class: 'btn btn-warning pull-right'
