.row
  .col-lg-12
    %h1.page-header Children
.row
  .col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th
          %th ID
          %th Name
          %th Phone
          %th PIN
          %th Guardian
          %th Backtrack Status
          %th{ colspan: '3' }
      %tbody
        - @children.each do |child|
          %tr
            - if child.image
              %td= image_tag child.image, style: 'height: 50px; width: 50px; border-radius: 50%;'
            - else
              %td= image_tag 'edify-rounded.png', style: 'height: 50px; border-radius: 50%;'
            %td= child.id
            %td= child.name
            %td= child.phone
            %td= child.pin
            %td= child.user.name
            - if child.backtrack_status == 0
              %td Incomplete
            - elsif child.backtrack_status == 1
              %td Complete
            %td= link_to 'Show', child
            %td= link_to 'Edit', edit_child_path(child)
            %td= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' }
    %br/
    = link_to 'Back', '/', class: 'btn btn-default'
    = link_to 'New Child', new_child_path, class: 'btn btn-primary'
