%br
%h2 Notifications
%br
#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  - @notifications.each_with_index do |n, i|
    .panel.panel-default
      .panel-heading{role: "tab"}
        %a{"aria-controls" => "collapse-#{i}", "aria-expanded" => "false",
           "data-parent" => "#accordion", "data-toggle" => "collapse",
           href: "#collapse-#{i}", role: "button", id: "heading-#{i}"}
          - if n.first.contact_name
            %h4.panel-title= "Conversation No. #{i} with #{n.first.contact_name}"
          - else
            %h4.panel-title= "Conversation No. #{i} with #{n.first.contact_number}"
    .panel-collapse.collapse{"aria-labelledby" => "heading-#{i}",
                             role: "tabpanel", id: "collapse-#{i}",
                             style: "padding: 2em;" }
      - n.reverse.each do |notif|
        - if notif.sent
          - if notif.notified?
            .alert.alert-danger{ role: "alert", style: "padding: 1.4em; max-width: 30%; margin-left: 70%; position: relative;" }
              %p{style: "margin-top: 0.5em;"}= notif.message
              %div{style: "margin-top: 0.8em;"}
                %span{style: "font-size: 0.6em; position: absolute; top: 5px; left: 1em;"}= "DM ID: " + notif.id.to_s
                %span{style: "font-size: 0.6em; position: absolute; top: 5px; left: 10em;"}= "Notif ID: " + notif.edify_notifications.first.id.to_s
                %span{style: "font-size: 0.6em; position: absolute; bottom: 5px; right: 16em;"}= "Feedback: " + notif.edify_notifications.first.feedback.to_s
                %span{style: "font-size: 0.6em; position: absolute; bottom: 5px; left: 1em;"}= notif.mobile_timestamp
                - if notif.backtrack
                  %i{class: "glyphicon glyphicon-repeat", style: "font-size: 0.8em; color: #a94442; position: absolute; top: 10px; right: 5em;"}
                %span{style: "font-size: 0.6em; position: absolute; top: 5px; left: 19em;"}= "Active: " + notif.edify_notifications.first.is_active.to_s
                %span{style: "font-size: 0.6em; position: absolute; bottom: 5px; right: 5em;"}= "Status: " + notif.edify_notifications.first.status.to_s
              = link_to remove_notification_path(id: notif.edify_notifications.first.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do
                %i{class: "glyphicon glyphicon-trash", style: "font-size: 0.8em; color: red; position: absolute; top: 10px; right: 1em;"}
          - else
            .alert.alert-success{ role: "alert", style: "padding: 1.4em; max-width: 30%; margin-left: 70%; position: relative;" }
              %p{style: "margin-top: 0.5em;"}= notif.message
              %div{style: "margin-top: 0.8em;"}
                %span{style: "font-size: 0.6em; position: absolute; top: 5px; left: 1em;"}= "ID: " + notif.id.to_s
                %span{style: "font-size: 0.6em; position: absolute; bottom: 5px; left: 1em;"}= notif.mobile_timestamp
        - else
          - if notif.notified?
            .alert.alert-danger{style: "max-width: 30%; position: relative;"}
              %p{style: "margin-top: 0.5em;"}= notif.message
              %div{style: "margin-top: 0.8em;"}
                %span{style: "font-size: 0.6em; position: absolute; top: 5px; left: 1em;"}= "DM ID: " + notif.id.to_s
                %span{style: "font-size: 0.6em; position: absolute; top: 5px; left: 10em;"}= "Notif ID: " + notif.edify_notifications.first.id.to_s
                %span{style: "font-size: 0.6em; position: absolute; bottom: 5px; right: 16em;"}= "Feedback: " + notif.edify_notifications.first.feedback.to_s
                %span{style: "font-size: 0.6em; position: absolute; bottom: 5px; left: 1em;"}= notif.mobile_timestamp
                - if notif.backtrack
                  %i{class: "glyphicon glyphicon-repeat", style: "font-size: 0.8em; color: #a94442; position: absolute; top: 10px; right: 5em;"}
                %span{style: 'font-size: 0.6em; position: absolute; top: 5px; left: 19em;'}= "Active: " + notif.edify_notifications.first.is_active.to_s
                %span{style: "font-size: 0.6em; position: absolute; bottom: 5px; right: 5em;"}= "Status: " + notif.edify_notifications.first.status.to_s
              = link_to remove_notification_path(id: notif.edify_notifications.first.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do
                %i{class: "glyphicon glyphicon-trash", style: "font-size: 0.8em; color: red; position: absolute; top: 10px; right: 1em;"}
          - else
            .well{style: "max-width: 30%; position: relative;"}
              %p{style: "margin-top: 0.5em;"}= notif.message
              %div{style: "margin-top: 0.8em;"}
                %span{style: "font-size: 0.6em; position: absolute; top: 5px; left: 1em;"}= "ID: " + notif.id.to_s
                %span{style: "font-size: 0.6em; position: absolute; bottom: 5px; left: 1em;"}= notif.mobile_timestamp

%br
= link_to 'Back', child_path, class: 'btn btn-default'
%br
%br

%br
%h2 Warnings
%br
.row
  .col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Content
          %th

      %tbody
        - @warnings.each do |w|
          %tr
            %td= w.id
            %td= w.content
            %td= link_to "Remove", remove_notification_path(id: w.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }

    = paginate @warnings
