.container
  .row
    .col-lg-12
      %h1.page-header Child Account Profile

  -if @child.last_device_checkin
    -if @child.last_device_checkin + 12.hours < DateTime.now
      %p{style: "background-color:  #d9534f; padding: 1em; font-size: 1.5em; color: #fff; text-align: center"}
        Child device has not been connected for more than 12 hours

  %br
  %br
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Name
        %th Phone
        %th Guardian
        %th Backtrack Status
        %th Last Check-in
        %th PIN
        %th Device Connected
    %tbody
      %tr
        - if @child.image
          %td= image_tag @child.image, style: 'height: 50px; width: 50px; border-radius: 50%;'
        - else
          %td= image_tag 'edify-rounded.png', style: 'height: 50px; border-radius: 50%;'
        %td= @child.name
        %td= @child.phone
        %td= @child.user.name
        - if @child.backtrack_status == 0
          %td Incomplete
        - elsif @child.backtrack_status == 1
          %td Complete
        %td= @child.last_device_checkin
        %td= @child.pin
        %td= @child.device_connected
  %br
  %hr
  %br
  .row
    .col-lg-3.col-md-6
      .panel.panel-primary
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-comments.fa-5x
            .col-xs-9.text-right
              .huge
                = @child.device_messages.where('device_messages.backtrack IS NOT true').count
              %div Device Messages
        = link_to child_device_messages_path do
          .panel-footer
            %span.pull-left View Device Messages
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix
    .col-lg-3.col-md-6
      .panel.panel-green
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-table.fa-5x
            .col-xs-9.text-right
              .huge
                = @child.device_messages.where('device_messages.backtrack IS NOT true').count
              %div Table View
        = link_to child_device_messages_table_path do
          .panel-footer
            %span.pull-left View Device Messages
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix
    .col-lg-3.col-md-6
      .panel.panel-red
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-exclamation-circle.fa-5x
            .col-xs-9.text-right
              .huge
                = @child.edify_notifications.count
              %div Notifications
        = link_to child_notifications_path(@child.id) do
          .panel-footer
            %span.pull-left View Notifications
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix
    .col-lg-3.col-md-6
      .panel.panel-yellow
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-history.fa-5x
            .col-xs-9.text-right
              .huge
                = @child.device_messages.where(backtrack: true).count
              %div Backtrack
        = link_to backtracked_table_path do
          .panel-footer
            %span.pull-left View Backtracked
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix

  %br
  %hr
  %br
  %h2 Application List
  %br
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th State
    %tbody
      - if @child.app_list.last
        - @child.app_list.last.applications.each do |app|
          %tr
            %td= app[0]
            %td= app[1]

  %br
  %hr
  %br
  %h2 Instagram Threads
  - if @child.instagram[0]
    %h5= 'Instagram User: ' + @child.instagram[0]
  - else
    %h5= 'No Instagram account connected'
  %br
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Thread ID
        %th Title
        %th Muted
        %th Named
        %th Canonical
        %th Last Activity
        /%th Recipients
        %th Messages
        %th
    %tbody
      - @child.instagram_threads.each do |child_th|
        %tr
          %td= child_th.id
          %td= child_th.thread_id
          %td= child_th.thread_title
          %td= child_th.muted
          %td= child_th.named
          %td= child_th.canonical
          %td= child_th.last_activity
          /%td= link_to 'List', recipients_path({th_id: child_th.id})
          %td= link_to 'List', thread_msgs_path({th_id: child_th.id})
          %td= link_to 'Destroy', remove_child_thread_path(id: child_th.id), method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'Back', children_path, class: 'btn btn-default'
  %br
  %br
