/ Navigation
%nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{ href: '/'}
      = image_tag 'edify_writen_white.png', id: 'navbar_logo'
  %ul.nav.navbar-top-links.navbar-right

    /= render 'layouts/shared/dropdown/mail_dd'
    /= render 'layouts/shared/dropdown/tasks_dd'
    /= render 'layouts/shared/dropdown/alerts_dd'

    = render 'layouts/shared/dropdown/account_dd'

