.navbar-default.sidebar{:role => "navigation"}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav
      %li.sidebar-search
        .input-group.custom-search-form
          %input.form-control{:placeholder => "Search...", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-default{:type => "button"}
              %i.fa.fa-search

      %li
        = link_to authenticated_root_path do
          %i.fa.fa-dashboard.fa-fw
          Dashboard
      %li
        = link_to infrastructure_index_path do
          %i.fa.fa-server.fa-fw
          Infrastructure
      %li
        = link_to users_path do
          %i.fa.fa-users.fa-fw
          Users
      %li
        = link_to children_path do
          %i.fa.fa-puzzle-piece.fa-fw
          Child Accounts
      %li
        = link_to instagram_users_path do
          %i.fa.fa-instagram.fa-fw
          Insta Users
      %li
        = link_to instagram_messages_path do
          %i.fa.fa-comments.fa-fw
          Insta Messages
      %li
        = link_to mobile_app_path do
          %i.fa.fa-mobile.fa-fw
          Mobile Apps
      %li
        = link_to edify_notifications_path do
          %i.fa.fa-comment.fa-fw
          Notifications
      %li
        = link_to edify_resources_path do
          %i.fa.fa-th.fa-fw
          Edify Resources
      %li
        = link_to 'https://documenter.getpostman.com/collection/view/26462-3b7f7b0f-0ad0-a73b-0053-03ac9bffc294', target: '_blank' do
          %i.fa.fa-share-alt.fa-fw
          API (external reqs auth)
      %li
        = link_to dashboard_background_jobs_path do
          %i.fa.fa-tasks.fa-fw
          Background Jobs
      %li
        = link_to '#' do
          %i.fa.fa-cube.fa-fw
          Language Model
        %ul.nav.nav-second-level
          %li
            = link_to language_model_path do
              %i.fa.fa-cube.fa-fw
              Statistics
            = link_to nlp_dictionaries_path do
              %i.fa.fa-cube.fa-fw
              Dictionary
            = link_to additional_meanings_path do
              %i.fa.fa-cube.fa-fw
              Additional Meanings