.container{style: 'width: 600px;'}
  = simple_form_for(@edify_resource) do |f|
    = f.error_notification

    .form-inputs
      = f.input :link, label: 'Link to Resource'
      = f.input :title, label: 'Resource Title'
      = f.input :site, label: "Resource's Main Site"
      = f.input :logo, label: "Site's Logo"
      = f.input :image, label: "Resource's Image"
      = f.input :brief, label: 'Resource Summary', input_html: {rows: 5}
      = f.input :tag_list, input_html: {value: @edify_resource.tag_list.to_s}, label: 'Tags (separated by comma)'

    .form-actions
      = f.button :submit, class: 'btn btn-success pull-right'