.row
  .col-lg-12
    %h1.page-header Edit Resource
.row
  .col-lg-12
    = render 'form'
    %hr

    = link_to 'Show', @edify_resource, class: 'btn btn-primary pull-right'
    = link_to 'Back', edify_resources_path, class: 'btn btn-default pull-left'
    %br
    %br
