.row
  .col-lg-12
    %h1.page-header Edify Resources
.row
  .col-lg-12

    %table.table.table-striped
      %thead
        %tr
          %th Resource Title
          %th
          %th
          %th

      %tbody
        - @edify_resources.each do |edify_resource|
          %tr
            %td= edify_resource.title
            %td= link_to 'Show', edify_resource
            %td= link_to 'Edit', edit_edify_resource_path(edify_resource)
            %td= link_to 'Destroy', edify_resource, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Resource', new_edify_resource_path, class: 'btn btn-primary'
