.row
  .col-lg-10.col-lg-offset-1
    %h1.page-header= @edify_resource.title
.row
  .col-lg-10.col-lg-offset-1

    %h4 Link to Resource:
    %a{ href: @edify_resource.link }
      = @edify_resource.link
    %hr
    %h4 Resource's Main Site:
    %a{ href: @edify_resource.site }
      = @edify_resource.site
    %hr
    %h4 Site's Logo:
    = image_tag @edify_resource.logo, style: 'max-width: 200px; max-height: 200px;'
    %hr
    %h4 Resource's Image:
    = image_tag @edify_resource.image, style: 'max-width: 400px; max-height: 400px;'
    %hr
    %h4 Resource Summary:
    = @edify_resource.brief
    %hr

    = link_to 'Edit', edit_edify_resource_path(@edify_resource), class: 'btn btn-warning pull-right'
    = link_to 'Back', edify_resources_path, class: 'btn btn-default pull-left'
    %br
    %br
    %br
