= simple_form_for(@nlp_dictionary) do |f|
  = f.error_notification

  .form-inputs
    = f.input :content
    = f.input :label
    = f.hidden_field :weight, value: 100

  %br
  %hr
  %br
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-success'
