.row
  .container
    .col-md-5
      %h1.page-header NLP Dictionary
    .col-md-7
      = link_to 'Show', @nlp_dictionary, class: 'btn btn-primary top-btn', style: 'margin-left: 2em;'
      = link_to 'Back', nlp_dictionaries_path, class: 'btn btn-default top-btn'
  %br
.row
  .col-md-6.col-md-offset-3
    = render 'form'

