.row
  .col-md-12
    %h1.page-header Additional Meanings to Dictionary Entries

%br
%br
.row
  .col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th Content
          %th Label
          %th Weight
          %th
          %th
          %th

      %tbody
        - @nlp_dictionaries.each do |nlp_dictionary|
          %tr
            %td= nlp_dictionary.content
            %td= nlp_dictionary.label
            %td= nlp_dictionary.weight
            %td= link_to 'Show', nlp_dictionary
            %td= link_to 'Edit', edit_nlp_dictionary_path(nlp_dictionary)
            %td= link_to 'Destroy', nlp_dictionary, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br
    %hr
    %br
    = link_to 'New Additional Meaning', new_additional_meaning_path, class: 'btn btn-primary'
