.row
  .container
    .col-md-5
      %h1.page-header New Additional Meaning
    .col-md-7
      = link_to 'Back', additional_meanings_path, class: 'btn btn-default top-btn'
  %br
.row
  .col-md-6.col-md-offset-3
    = render 'form_add_mean'
