.row
  .col-md-12
    %h1.page-header NLP Dictionary

.row
  .col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th Attribute
          %th Value
      %tbody
        %tr
          %td ID
          %td= @nlp_dictionary.id
        %tr
          %td Content
          %td= @nlp_dictionary.content
        %tr
          %td Label:
          %td= @nlp_dictionary.label

= link_to 'Edit', edit_nlp_dictionary_path(@nlp_dictionary), class: 'btn btn-primary pull-right'
= link_to 'Back', nlp_dictionaries_path, class: 'btn btn-default'
