.container{style: 'width: 600px;'}
  = simple_form_for(@edify_notification) do |f|
    = f.error_notification

    .form-inputs
      = f.input :instagram_message_id
      = f.input :child_id
      = f.input :is_active
      = f.input :content
      = f.input :user
      = f.input :label
      = f.input :status
      = f.input :notification_type
      = f.input :channel
      = f.input :feedback

    .form-actions
      = f.button :submit, class: 'btn btn-success pull-right'
