.row
  .col-lg-12
    %h1.page-header Edit Notification
.row
  .col-lg-12
    = render 'form'
    %hr

    = link_to 'Show', @edify_notification, class: 'btn btn-primary pull-right'
    = link_to 'Back', edify_notifications_path, class: 'btn btn-default pull-left'
    %br
    %br
