.row
  .col-lg-12
    %h1.page-header Edify Notifications
.row
  .col-lg-12

    %table.table.table-striped
      %thead
        %tr
          %th Msg ID
          %th Content
          %th User
          %th Label
          %th Status
          %th Type
          %th Channel
          %th Feedback
          %th
          %th
          %th

      %tbody
        - @edify_notifications.each do |edify_notification|
          %tr
            %td= edify_notification.instagram_message_id
            %td= edify_notification.child_id
            %td= edify_notification.is_active
            %td= edify_notification.content
            %td= edify_notification.user
            %td= edify_notification.label
            %td= edify_notification.status
            %td= edify_notification.notification_type
            %td= edify_notification.channel
            %td= edify_notification.feedback
            %td= link_to 'Show', edify_notification
            %td= link_to 'Edit', edit_edify_notification_path(edify_notification)
            %td= link_to 'Destroy', edify_notification, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Notification', new_edify_notification_path, class: 'btn btn-primary'
