.row
  .col-lg-10.col-lg-offset-1
    %h1.page-header Notification
.row
  .col-lg-10.col-lg-offset-1

    %h4 Message ID:
    = @edify_notification.instagram_messages_id
    %hr
    %h4 Child Id:
    = @edify_notification.child_id
    %hr
    %h4 Is Active?
    = @edify_notification.is_active
    %hr
    %h4 Content:
    = @edify_notification.content
    %hr
    %h4 User:
    = @edify_notification.user
    %hr
    %h4 Label:
    = @edify_notification.label
    %hr
    %h4 Status:
    = @edify_notification.status
    %hr
    %h4 Type:
    = @edify_notification.notification_type
    %hr
    %h4 Channel:
    = @edify_notification.channel
    %hr
    %h4 Feedback:
    = @edify_notification.feedback
    %hr

    = link_to 'Edit', edit_edify_notification_path(@edify_notification), class: 'btn btn-warning pull-right'
    = link_to 'Back', edify_notifications_path, class: 'btn btn-default pull-left'
    %br
    %br
    %br
