= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :backtrack
    -if current_user.admin?
      = f.input :admin

  .form-actions
    = f.button :submit
  %br
