.row
  .col-lg-12
    %h1.page-header Users
.row
  .col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Name
          %th Email
          %th Token
          %th Backtrack
          %th Last Sign In
          %th
          %th
          %th

      %tbody
        - @users.each do |user|
          %tr
            %td= user.id
            %td= user.name
            %td= user.email
            %td= user.authentication_token
            %td= user.backtrack
            %td= user.current_sign_in_at
            %td= link_to 'Show', user
            %td= link_to 'Edit', edit_user_path(user.id)
            %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
