.container

  %h1= @user.name
  %table.table.table-striped
    %thead
      %tr
        %th Player Id
        %th Push Token
        %th Backtrack
        %th
    %tbody
      %tr
        %td= @user.player_id
        %td= @user.push_token
        %td= @user.backtrack
  %br/
  %h2 Children
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Name
        %th Phone
        %th{colspan: '1'}
    %tbody
      - @user.children.each do |child|
        %tr
          %td= child.id
          %td= child.name
          %td= child.phone
          %td= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  %hr

  = link_to 'Edit', edit_user_path(@user)
  \|
  = link_to 'Back', dashboard_path
