= simple_form_for(@aws_region) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :code
    = f.input :active

  %br
  %hr
  %br
  .form-actions
    = f.button :submit, 'Save AWS Region', class: 'btn btn-success'
