.row
  .col-md-12
    %h1.page-header AWS Regions

.row
  .col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Code
          %th Active
          %th
          %th
          %th

      %tbody
        - @aws_regions.each do |aws_region|
          %tr
            %td= aws_region.name
            %td= aws_region.code
            - if aws_region.active
              %td.success= aws_region.active
            - else
              %td.warning= aws_region.active
            %td= link_to 'Show', aws_region
            %td= link_to 'Edit', edit_aws_region_path(aws_region)
            %td= link_to 'Destroy', aws_region, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br
    %hr
    %br
    = link_to 'New Aws region', new_aws_region_path, class: 'btn btn-primary'
    = link_to 'Back', infrastructure_index_path, class: 'btn btn-default pull-right'
