.row
  .container
    .col-md-5
      %h1.page-header New AWS Region
    .col-md-7
      = link_to 'Back', aws_regions_path, class: 'btn btn-default top-btn'
  %br
.row
  .col-md-6.col-md-offset-3
    = render 'form'