.row
  .col-md-12
    %h1.page-header= @aws_region.name

.row
  .col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th Attribute
          %th Value
      %tbody
        %tr
          %td ID
          %td= @aws_region.id
        %tr
          %td Code
          %td= @aws_region.code
        %tr
          %td Active
          %td= @aws_region.active

%hr

= link_to 'Edit', edit_aws_region_path(@aws_region), class: 'btn btn-primary pull-right'
= link_to 'Back', aws_regions_path, class: 'btn btn-default'