.row
  .col-md-4
    %h1.page-header Nodes at AWS
  .col-md-8
    = button_to 'Provision Instance', provision_node_path, remote: true, class: 'btn btn-primary top-btn', style: 'margin-left: 2em;'
    = button_to 'Sync with AWS', infra_sync_path, remote: true, class: 'btn btn-primary top-btn sync-btn'
  #progress-bar.col-md-12{style: 'display:none'}
    .progress
      #job-progress.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0",
      role: 'progressbar', style: 'width: 0%;'} 0%
%br
.row
  .col-lg-12
    - if @nodes.count <= 0
      .col-md-10.col-md-offset-1.well{style: 'text-align: center;'}
        %h3 No nodes on AWS

    - else
      - @nodes.each do |n|
        .col-md-3{style: 'margin-bottom: 3em;'}
          - if n.state == 'running'
            %i.fa.fa-server{style: 'font-size: 6em; margin-left: 30px; margin-bottom: 10px; color: #5cb85c;'}
          - elsif n.state == 'stopped'
            %i.fa.fa-server{style: 'font-size: 6em; margin-left: 30px; margin-bottom: 10px; color: #f0ad4e;'}
          - else
            %i.fa.fa-server{style: 'font-size: 6em; margin-left: 30px; margin-bottom: 10px; color: #d3d3d3;'}
          %br
          .caption
            %h4= 'EC2 ID: ' + n.aws_id
            - if n.aws_tags.count > 0
              - n.aws_tags.each_with_index do |t, i|
                %h5= t[0] + ': ' + t[1]
            - else
              %h5 Environment:
              %h5 Name:
            - if n.state == 'running'
              - if @debug
                = link_to node_destroy_path(n.id), class: 'btn btn-danger', style: 'margin-top: 1em;', method: :delete, data: { confirm: 'Are you sure?' } do
                  %i.fa.fa-trash{type: 'button', style: 'margin-top: 2.5px; font-size: 1.1em;'}
              = link_to infrastructure_path(n.id), class: 'btn btn-success', style: 'width: 130px; margin-top: 1em;' do
                %span{style: 'margin-right: 2em;'}= n.state.capitalize
                %i.fa.fa-chevron-right{type: 'button', style: 'float: right; margin-top: 2.5px;'}
            - elsif n.state == 'stopped'
              - if @debug
                = link_to node_destroy_path(n.id), class: 'btn btn-danger', style: 'margin-top: 1em;', method: :delete, data: { confirm: 'Are you sure?' } do
                  %i.fa.fa-trash{type: 'button', style: 'margin-top: 2.5px; font-size: 1.1em;'}
              = link_to infrastructure_path(n.id), class: 'btn btn-warning', style: 'width: 160px; margin-top: 1em;' do
                %span{style: 'margin-right: 2em;'}= n.state.capitalize
                %i.fa.fa-chevron-right{type: 'button', style: 'float: right; margin-top: 2.5px;'}
            - else
              - if @debug
                = link_to node_destroy_path(n.id), class: 'btn btn-danger', style: 'margin-top: 1em;', method: :delete, data: { confirm: 'Are you sure?' } do
                  %i.fa.fa-trash{type: 'button', style: 'margin-top: 2.5px; font-size: 1.1em;'}
              = link_to infrastructure_path(n.id), class: 'btn btn-default', style: 'width: 160px; margin-top: 1em;' do
                %span{style: 'margin-right: 2em;'}= n.state.capitalize
                %i.fa.fa-chevron-right{type: 'button', style: 'float: right; margin-top: 2.5px;'}
- if @debug
  %br
  .well{style: 'text-align: center;'}
    %h3 Only remove when instances have been removed from AWS
%hr
= link_to 'AWS Regions', aws_regions_path, class: 'btn btn-primary'

#job-id-container
  %p#job_id.hidden

%br
%br