.row
  .col-lg-5

    -if @staging
      %h1.page-header= 'Node ' + @node.aws_id
      %h3= 'State: ' + @node.state
    - elsif @node.state == 'running'
      %h1.page-header{style: 'color: #5cb85c;'}= 'Node ' + @node.aws_id + '    (' + @node.state + ')'
      = link_to 'Stop Instance', stop_node_path(region: @node.region, inst_id: @node.aws_id),
      class: 'btn btn-warning', method: :post
    - elsif @node.state == 'stopped'
      %h1.page-header{style: 'color: #f0ad4e;'}= 'Node ' + @node.aws_id + '    (' + @node.state + ')'
      = link_to 'Start Instance', start_node_path(region: @node.region, inst_id: @node.aws_id), class: 'btn btn-success',
      style: 'margin-right: 2em;', method: :post
      = link_to 'Terminate Instance', terminate_node_path(inst_id: @node.aws_id), class: 'btn btn-danger',
      style: 'margin-right: 2em;', method: :post
    - elsif @node.state == 'terminated'
      %h1.page-header{style: 'color: #d3d3d3;'}= 'Node ' + @node.aws_id + '    (' + @node.state + ')'
    - else
      %h1.page-header{style: 'color: #d3d3d3;'}= 'Node ' + @node.aws_id + '    (' + @node.state + ')'
      = link_to 'Stop Instance', stop_node_path(region: @node.region, inst_id: @node.aws_id), class: 'btn btn-warning'
      = link_to 'Start Instance', start_node_path(region: @node.region, inst_id: @node.aws_id), class: 'btn btn-success'
      = link_to 'Terminate Instance', terminate_node_path(inst_id: @node.aws_id), class: 'btn btn-danger',
      style: 'margin-right: 2em;', method: :post
    %br
    %br
    - @node.aws_tags.each_with_index do |n, i|
      %h5= n[0] + ': ' + n[1]
  .col-md-7
    = link_to 'Back', infrastructure_index_path, class: 'btn btn-default top-btn'

-if !@staging
  %br
  .row
    .col-lg-12
      %h2.page-header Emulators
      - if @node.account_sheets.count > 0
        %br
        %br
        .row
          - @node.account_sheets.order(:id).each do |a|
            .col-md-2.mobile-container
              - if a.status == 'taken'
                =link_to show_account_sheets_path(a.id) do
                  %i.fa.fa-mobile.mobile-icon.taken
                %br
                .caption
                  %h5= 'Status: ' + a.status.capitalize
                  %h5= 'PIN: ' + a.pin.to_s
                  %h5= 'ID: ' + a.id.to_s
              - elsif a.status== 'assigned'
                =link_to show_account_sheets_path(a.id) do
                  %i.fa.fa-mobile.mobile-icon.assigned
                %br
                .caption
                  %h5= 'Status: ' + a.status.capitalize
                  %h5= 'PIN: ' + a.pin.to_s
                  %h5= 'ID: ' + a.id.to_s
              - elsif a.status == 'removed'
                =link_to show_account_sheets_path(a.id) do
                  %i.fa.fa-mobile.mobile-icon.removed
                %br
                .caption
                  %h5= 'Status: ' + a.status.capitalize
                  %h5= 'PIN: ' + a.pin.to_s
                  %h5= 'ID: ' + a.id.to_s
              - elsif a.status == 'running'
                =link_to show_account_sheets_path(a.id) do
                  %i.fa.fa-mobile.mobile-icon.running
                %br
                .caption
                  %h5= 'Status: ' + a.status.capitalize
                  %h5= 'PIN: ' + a.pin.to_s
                  %h5= 'ID: ' + a.id.to_s
              - elsif a.status == 'none'
                =link_to show_account_sheets_path(a.id) do
                  %i.fa.fa-mobile.mobile-icon.none
                %br
                .caption
                  %h5= 'Status: ' + a.status.capitalize
                  %h5= 'PIN: ' + a.pin.to_s
                  %h5= 'ID: ' + a.id.to_s
              - else
                =link_to show_account_sheets_path(a.id) do
                  %i.fa.fa-mobile.mobile-icon.unknown
                %br
                .caption
                  %h5= 'Status: ' + a.status.capitalize
                  %h5= 'PIN: ' + a.pin.to_s
                  %h5= 'ID: ' + a.id.to_s
      - else
        .col-md-10.col-md-offset-1.well{style: 'text-align: center;'}
          %h3 No emulators
%br
.row
  .col-lg-12
    %h2.page-header Node Specs
    %table.table.table-striped
      %thead
        %tr
          %th Attribute
          %th Value

      %tbody
        %tr
          %td Hostname
          %td= @node.hostname
        %tr
          %td Region
          %td= @node.region
        %tr
          %td Architecture
          %td= @node.architecture
        %tr
          %td Hypervisor
          %td= @node.hypervisor
        %tr
          %td Instance Type
          %td= @node.instance_type
        %tr
          %td SSH Key Name
          %td= @node.key_name
        %tr
          %td Launched at
          %td= @node.launch_time
        %tr
          %td Availability Zone
          %td= @node.placement
        %tr
          %td Private DNS
          %td= @node.private_dns
        %tr
          %td Private IP
          %td= @node.private_ip
        %tr
          %td Public DNS
          %td= @node.public_dns
        %tr
          %td Public IP
          %td= @node.public_ip
        %tr
          %td Root Device Type
          %td= @node.root_device_type
        %tr
          %td Root Device Name
          %td= @node.root_device_name
        %tr
          %td Security Groups
          %td= @node.security_group
        %tr
          %td Reason for Current State
          %td= @node.state_reason
        %tr
          %td Reason for State Transition
          %td= @node.state_transition_reason
        %tr
          %td Subnet ID
          %td= @node.subnet_id
        %tr
          %td AWS Tags
          %td= @node.aws_tags
        %tr
          %td Virtualization Type
          %td= @node.virtualization_type
        %tr
          %td VPC ID
          %td= @node.vpc_id
        %tr
          %td Created
          %td= @node.created_at
        %tr
          %td Last Update
          %td= @node.updated_at



