// Place all the styles related to the infrastructure controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mobile-container{
  margin-bottom: 2em;
  padding-left: 4em;
  a { text-decoration: none; }
}

.mobile-icon{
  font-size: 6em !important;
  margin-left: 30px;
  margin-bottom: 10px;
}

.none {
  color: #5bc0de;
}
.taken {
  color: #337ab7;
}
.assigned {
  color: #f0ad4e;
}
.removed{
  color: #d9534f;
}
.running{
  color: #5cb85c;
}
.unknown{
  color: #d3d3d3;
}