.not-admin-container {
  text-align: center;
  color: #ffffff;
  font-family: "Monaco", "Inconsolata", "Consolas", monospace;
  h1, h2, h3, h4, p {
    color: #ffffff;
  }
  a:link {
    font-size: 1.8em;
    color: #ffffff;
    text-decoration: underline;
    padding-left: 0.4em;
    padding-right: 0.4em;
  }
  a:visited {
    color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  a:active {
    color: #ffffff;
  }
}

#not-admin-title {
  margin-top: 4em;
  margin-bottom: 3em;
}

.not-admin-body {
  font-size: 1.5em;
  display: inline;
}
