- if user_signed_in?
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      = current_user.name
      %i.fa.fa-user.fa-fw
      %i.fa.fa-caret-down
      %ul.dropdown-menu.dropdown-user
        - if current_user.admin?
          %li#settings_nav
            = link_to edit_user_registration_path do
              %i.fa.fa-gear.fa-fw
              Settings
          %li.divider
        %li
          = link_to destroy_user_session_path, :method => :delete do
            %i.fa.fa-sign-out.fa-fw
            Logout
