%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    %i.fa.fa-envelope.fa-fw
    %i.fa.fa-caret-down
  %ul.dropdown-menu.dropdown-messages
    %li
      %a{:href => "#"}
        %div
          %strong John Smith
          %span.pull-right.text-muted
            %em Yesterday
        %div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
    %li.divider
    %li
      %a{:href => "#"}
        %div
          %strong John Smith
          %span.pull-right.text-muted
            %em Yesterday
        %div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
    %li.divider
    %li
      %a{:href => "#"}
        %div
          %strong John Smith
          %span.pull-right.text-muted
            %em Yesterday
        %div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
    %li.divider
    %li
      %a.text-center{:href => "#"}
        %strong Read All Messages
        %i.fa.fa-angle-right