%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    %i.fa.fa-tasks.fa-fw
    %i.fa.fa-caret-down
  %ul.dropdown-menu.dropdown-tasks
    %li
      %a{:href => "#"}
        %div
          %p
            %strong Task 1
            %span.pull-right.text-muted 40% Complete
          .progress.progress-striped.active
            .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 40%"}
              %span.sr-only 40% Complete (success)
    %li.divider
    %li
      %a{:href => "#"}
        %div
          %p
            %strong Task 2
            %span.pull-right.text-muted 20% Complete
          .progress.progress-striped.active
            .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: 20%"}
              %span.sr-only 20% Complete
    %li.divider
    %li
      %a{:href => "#"}
        %div
          %p
            %strong Task 3
            %span.pull-right.text-muted 60% Complete
          .progress.progress-striped.active
            .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%"}
              %span.sr-only 60% Complete (warning)
    %li.divider
    %li
      %a{:href => "#"}
        %div
          %p
            %strong Task 4
            %span.pull-right.text-muted 80% Complete
          .progress.progress-striped.active
            .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 80%"}
              %span.sr-only 80% Complete (danger)
    %li.divider
    %li
      %a.text-center{:href => "#"}
        %strong See All Tasks
        %i.fa.fa-angle-right