.row
  .col-lg-12
    %h1.page-header Dashboard
/ /.col-lg-12
/ /.row
.row
  .col-lg-3.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-comments.fa-5x
          .col-xs-9.text-right
            .huge
              = @insta_messages.count
            %div Instagram Messages
      = link_to instagram_messages_path do
        .panel-footer
          %span.pull-left View Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-instagram.fa-5x
          .col-xs-9.text-right
            .huge
              = @insta_users.count
            %div Instagram Users
      = link_to instagram_users_path do
        .panel-footer
          %span.pull-left View Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-puzzle-piece.fa-5x
          .col-xs-9.text-right
            .huge
              = @children.count
            %div Child Accounts
      = link_to children_path do
        .panel-footer
          %span.pull-left View Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-red
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-users.fa-5x
          .col-xs-9.text-right
            .huge
              = @users.count
            %div Guardians
      = link_to users_path do
        .panel-footer
          %span.pull-left View Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix