= simple_form_for(@account_sheet) do |f|
  = f.error_notification

  .form-inputs
    = f.input :pin
    = f.input :child_id
    = f.input :status, collection: @status_list, prompt: 'Select a status'
    %label.control-label.string.optional{ for: 'account_sheet[instagram_account][username]' } Instagram Username
    = f.text_field :instagram_account, name: 'account_sheet[instagram_account][username]',
    class: 'form-control string optional', value: @account_sheet.instagram_account[0]
    %br
    %label.control-label.string.optional{ for: 'account_sheet[instagram_account][password]' } Instagram Password
    = f.text_field :instagram_account, name: 'account_sheet[instagram_account][password]',
    class: 'form-control string optional', value: @account_sheet.instagram_account[1]
    %br
    = f.input :server
    = f.input :emulator
    = f.input :node_id
    = f.input :health_check

  %br
  %hr
  %br
  .form-actions
    = f.button :submit, 'Save Account Sheet', class: 'btn btn-success'
