.row
  .container
    .col-md-5
      %h1.page-header= 'Edit Account Sheet: ' + @account_sheet.id.to_s
    .col-md-7
      = link_to 'Back', '', onclick: 'history.back()', class: 'btn btn-default top-btn'
  %br
.row
  .col-md-6.col-md-offset-3
    = render 'form'
