.row
  .col-md-12
    %h1.page-header Account Sheet

.row
  .col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th Attribute
          %th Value
      %tbody
        %tr
          %td Child PIN
          %td= @account_sheet.pin
        %tr
          %td Child
          - if @account_sheet.child
            %td= @account_sheet.child.name
          - else
            %td
        %tr
          %td Status
          %td= @account_sheet.status
        %tr
          %td Instagram Username
          %td= @account_sheet.instagram_account[0]
        %tr
          %td Instagram Password
          %td= @account_sheet.instagram_account[1]
        %tr
          %td ID
          %td= @account_sheet.id
        %tr
          %td Server
          %td= @account_sheet.server
        %tr
          %td Emulator
          %td= @account_sheet.emulator
        %tr
          %td Node Name
          %td= @account_sheet.node.aws_tags[1][1]
        %tr
          %td Node Environment
          %td= @account_sheet.node.aws_tags[0][1]
        %tr
          %td Health Check
          %td= @account_sheet.health_check


%hr

= link_to 'Edit', edit_account_sheets_path(@account_sheet), class: 'btn btn-primary pull-right'
= link_to 'Back', '', onclick: 'history.back()', class: 'btn btn-default'