!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Edify
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrapper
      = render 'layouts/shared/navbar'
      .container
        = render 'layouts/shared/flash_messages'
      - if params[:controller] != 'devise/sessions'
        - if current_user.admin?
          = render 'layouts/shared/sidebar'
          #page-wrapper
            = yield
        - else
          .container.not-admin-container
            %h1#not-admin-title Not much to see here
            %h4.not-admin-body Visit us at
            %a.not-admin-edify-link{href: 'https://edify.social'} Edify
            %h4.not-admin-body to download the mobile application and start receiving notifications.
      - else
        = yield